<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CrossBrowserLoginSuite" >
    <test name="LoginTestChrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.example.LoginTest"/>
        </classes>
    </test>

    <test name="LoginTestFirefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.example.LoginTest"/>
        </classes>
    </test>
</suite>
